local-n8n-setup/workflows/Knowledge_Base_Update:_GeneReviews.json
{
  "createdAt": "2025-02-14T18:58:28.391Z",
  "updatedAt": "2025-03-26T18:04:17.000Z",
  "id": "vOrMopBcQ8w3GNXb",
  "name": "Knowledge Base Update: GeneReviews",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1900,
        1020
      ],
      "id": "75a13115-073e-4cb7-b056-9c82d9f1ef82",
      "name": "When clicking \u2018Test workflow\u2019"
    },
    {
      "parameters": {
        "url": "https://ftp.ncbi.nlm.nih.gov/pub/litarch/ca/84/gene_NBK1116.tar.gz",
        "options": {
          "allowUnauthorizedCerts": false,
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -640,
        220
      ],
      "id": "92d7f77b-5923-472b-bac0-751fd224c70d",
      "name": "HTTP Request"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -220,
        220
      ],
      "id": "cb7ab7fa-2d9b-45e4-862c-e47488cdc622",
      "name": "Execute Command"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/tmp/gene_NBK1116.tar.gz",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -440,
        220
      ],
      "id": "7c839909-2e9d-437f-b012-76fbaef158b3",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "fileSelector": "/tmp/genereviews_extracted_files/gene_NBK1116/*.pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "67b5f0f0-ef10-40fc-8ecd-ead96a915961",
      "name": "Read/Write Files from Disk1"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "guideline",
          "mode": "list",
          "cachedResultName": "guideline"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        600,
        160
      ],
      "id": "d9e0230b-01f7-489e-b1b3-6a7eb11a6071",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "YoXkCj7xkYVRS0cz",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "documentTitle",
                "value": "={{ $('Extract from File').item.json.info.Title }}"
              },
              {
                "name": "documentVersion",
                "value": "={{ $('Extract from File').item.json.version }}"
              },
              {
                "name": "DocumentCreator",
                "value": "={{ $('Extract from File').item.json.info.Creator }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        720,
        420
      ],
      "id": "671ebe69-fbdf-4567-a859-9b1eb10b3fa5",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 3000,
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        660,
        620
      ],
      "id": "68053846-8b41-4dc8-8946-2670f0d17e2a",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        480,
        420
      ],
      "id": "0275a2df-49a0-42cd-be87-27180046f9a0",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "5gmazfiFAFlABBU5",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        240,
        20
      ],
      "id": "ccdeac9a-b5ad-453d-b1c8-b738d0ff3264",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        420,
        100
      ],
      "id": "86bdf48c-c119-409b-a54f-d2ac67468dad",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "documentTitle",
                "value": "={{ $('Merge').item.json.info.Title}}"
              },
              {
                "name": "documentVersion",
                "value": "={{ $('Merge').item.json.version }}"
              },
              {
                "name": "DocumentCreator",
                "value": "={{ $('Merge').item.json.info.Creator }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        1020,
        1440
      ],
      "id": "1075b698-1a65-4f9e-8a62-304dfa868e2f",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {
        "chunkSize": 3000,
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1180,
        1680
      ],
      "id": "3804626a-e90a-417b-a203-5eeb00891ba3",
      "name": "Recursive Character Text Splitter1"
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        680,
        1480
      ],
      "id": "a3e94204-bcae-4e93-b562-0c89c9991abf",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "5gmazfiFAFlABBU5",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        520,
        1040
      ],
      "id": "eec6657f-d33a-4b5c-8f4e-a69b0baa8edd",
      "name": "Merge"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -1260,
        880
      ],
      "id": "e7ed90e2-febc-4116-9746-c364c1882807",
      "name": "Execute Command1"
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "useDataOfInput": 2
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1200,
        1140
      ],
      "id": "98a36a3d-68db-4cd7-b164-a6685447c32e",
      "name": "Merge1"
    },
    {
      "parameters": {
        "url": "https://ftp.ncbi.nlm.nih.gov/pub/litarch/ca/84/gene_NBK1116.tar.gz",
        "options": {
          "allowUnauthorizedCerts": false,
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1680,
        880
      ],
      "id": "044591f5-9cb1-4333-bc4c-0485a75b84ac",
      "name": "HTTP Request: Download genereviews tar.gz file"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/tmp/gene_NBK1116.tar.gz",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -1460,
        880
      ],
      "id": "eb68acd9-4eb3-4df7-91a9-12a3fd912e9e",
      "name": "Write genereviews tar.gz file to disk"
    },
    {
      "parameters": {
        "fileSelector": "/tmp/genereviews_extracted_files/gene_NBK1116/hht.pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -1060,
        880
      ],
      "id": "e90b2bcb-dfca-4805-a15a-6655ac2e0f16",
      "name": "Read genereviews files from disk"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -660,
        1100
      ],
      "id": "ad2649a8-625d-4a19-b622-f0443441a441",
      "name": "Loop Over genereviews files"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -480,
        920
      ],
      "id": "f703c33d-ab44-45db-a4f7-a3ae56b7cbb5",
      "name": "PDF to JSON"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": []
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -240,
        1100
      ],
      "id": "358ff385-cf21-4736-bd84-a9bfe5b6210a",
      "name": "Capture Original File JSON"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "geneReviewsIndex",
        "filters": {
          "conditions": [
            {
              "keyName": "title",
              "keyValue": "={{$json.info.Title}}"
            },
            {
              "keyName": "version",
              "keyValue": "={{ $json.version }}"
            },
            {
              "keyName": "creator",
              "keyValue": "={{ $json.info.Creator }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        0,
        940
      ],
      "id": "4b343e55-6c45-4f67-8e77-08d464fcf189",
      "name": "Read Document from Supabase Index",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "TCe3KoU8jkdndhxh",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4955ca4f-d8f9-49ec-920b-6e93c1b65109",
              "leftValue": "={{ $json.id }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        240,
        940
      ],
      "id": "bcf09de4-9fb8-43b5-9cfd-544685784253",
      "name": "Check if document is on Supabase Index",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "guideline",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        780,
        980
      ],
      "id": "6cf4a9c9-9a89-4e09-ab4b-d70cad293db5",
      "name": "Write Document to Pinecone (guideline)",
      "credentials": {
        "pineconeApi": {
          "id": "YoXkCj7xkYVRS0cz",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "geneReviewsIndex",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "title",
              "fieldValue": "={{ $('PDF to JSON').item.json.info.Title}}"
            },
            {
              "fieldId": "creator",
              "fieldValue": "={{ $('PDF to JSON').item.json.info.Creator }}"
            },
            {
              "fieldId": "version",
              "fieldValue": "={{ $('PDF to JSON').item.json.version }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1460,
        1160
      ],
      "id": "8ab0f1cb-43cb-439a-997a-7e9fc750953e",
      "name": "Write document metadata to Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "TCe3KoU8jkdndhxh",
          "name": "Supabase account"
        }
      }
    }
  ],
  "connections": {
    "When clicking \u2018Test workflow\u2019": {
      "main": [
        [
          {
            "node": "HTTP Request: Download genereviews tar.gz file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Write Document to Pinecone (guideline)",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter1": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Write Document to Pinecone (guideline)",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Write Document to Pinecone (guideline)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Write document metadata to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request: Download genereviews tar.gz file": {
      "main": [
        [
          {
            "node": "Write genereviews tar.gz file to disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read genereviews files from disk": {
      "main": [
        [
          {
            "node": "Loop Over genereviews files",
            "type": "main",
            "index": 0
          },
          {
            "node": "PDF to JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDF to JSON": {
      "main": [
        [
          {
            "node": "Capture Original File JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Capture Original File JSON": {
      "main": [
        [
          {
            "node": "Read Document from Supabase Index",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Read Document from Supabase Index": {
      "main": [
        [
          {
            "node": "Check if document is on Supabase Index",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if document is on Supabase Index": {
      "main": [
        [],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Write Document to Pinecone (guideline)": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write document metadata to Supabase": {
      "main": [
        [
          {
            "node": "Loop Over genereviews files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "c70ac7cb-7954-4f76-848d-801a5fd5da94",
  "triggerCount": 0,
  "tags": [
    {
      "createdAt": "2025-03-26T17:51:45.906Z",
      "updatedAt": "2025-03-26T17:53:45.806Z",
      "id": "POlmHLQiFgAzyfd2",
      "name": "type: secondary"
    },
    {
      "createdAt": "2025-02-07T19:25:06.365Z",
      "updatedAt": "2025-03-26T17:53:28.478Z",
      "id": "swsybkCsjhDW90oq",
      "name": "status: dev"
    }
  ]
}