local n8n setup/workflows/Knowledge_Update_DEMO.json
{
  "createdAt": "2025-02-19T22:50:49.888Z",
  "updatedAt": "2025-03-26T18:02:44.000Z",
  "id": "MIKAjxF8Ndb89JSw",
  "name": "Knowledge Update DEMO",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "15OxSLsLD1RnuxO9sFWny6hwg1c4MbuhF",
          "mode": "list",
          "cachedResultName": "RESCUE-n8n",
          "cachedResultUrl": "https://drive.google.com/drive/folders/15OxSLsLD1RnuxO9sFWny6hwg1c4MbuhF"
        },
        "event": "fileCreated",
        "options": {
          "fileType": "all"
        }
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "262f7a3f-7bb1-472e-91ee-5ff697143955",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Hpf5fsZSKXgRAeiA",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "15OxSLsLD1RnuxO9sFWny6hwg1c4MbuhF",
          "mode": "list",
          "cachedResultName": "RESCUE-n8n",
          "cachedResultUrl": "https://drive.google.com/drive/folders/15OxSLsLD1RnuxO9sFWny6hwg1c4MbuhF"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        220
      ],
      "id": "5f01e9b2-cacb-4626-9653-1a70662dd19a",
      "name": "Google Drive Trigger1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Hpf5fsZSKXgRAeiA",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "knowledge-base",
          "mode": "list",
          "cachedResultName": "knowledge-base"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        920,
        140
      ],
      "id": "b61b6ad3-7a1d-4a76-acaf-1f4b7b12ca69",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "YoXkCj7xkYVRS0cz",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        920,
        440
      ],
      "id": "43d7dbef-f2fb-4d7b-962d-1f21bfd8ef18",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "5gmazfiFAFlABBU5",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.text || $json.data }}",
        "options": {
          "splitPages": true,
          "metadata": {
            "metadataValues": [
              {
                "name": "=md5Checksum",
                "value": "={{ $('Google Drive Trigger').item.json.md5Checksum }}"
              },
              {
                "name": "mimeType",
                "value": "={{ $('Google Drive Trigger').item.json.mimeType }}"
              },
              {
                "name": "fileId",
                "value": "={{ $('Google Drive Trigger').item.json.id }}"
              },
              {
                "name": "createdTime",
                "value": "={{ $('Google Drive Trigger').item.json.createdTime }}"
              },
              {
                "name": "modifiedTime",
                "value": "={{ $('Google Drive Trigger').item.json.modifiedTime }}"
              },
              {
                "name": "version",
                "value": "={{ $('Google Drive Trigger').item.json.version }}"
              },
              {
                "name": "originalfilename",
                "value": "={{ $('Google Drive Trigger').item.json.originalFilename }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        1140,
        380
      ],
      "id": "2ccb9b8a-4f5c-4461-a64a-9711338e6950",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 500,
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1160,
        580
      ],
      "id": "044815cf-59e1-4cf3-b5a5-9772f4d676ef",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8800d6df-7a49-47d1-b310-59be57044574",
              "name": "fileID",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "c9e5623a-cf76-43ce-ad59-7b016bf75133",
              "name": "fileType",
              "value": "={{ $json.mimeType }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        180,
        120
      ],
      "id": "7210ab12-a9ac-4003-8bb3-f18c4bf49d40",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Edit Fields').item.json.fileID}}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        380,
        120
      ],
      "id": "723d8754-0191-458c-af2d-0fc940595726",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Hpf5fsZSKXgRAeiA",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.fileType }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d628c221-3192-4a7c-a5ba-fbb44f2097d3",
                    "leftValue": "={{ $json.fileType }}",
                    "rightValue": "application/rtf",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "08df7372-aa18-4d93-94f9-0578c21ce0b2",
                    "leftValue": "{{ $json.fileType }}",
                    "rightValue": "text/html",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        400,
        380
      ],
      "id": "223677c5-c21c-4fa1-9490-7496d85bfd0e",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        620,
        200
      ],
      "id": "6ed04cab-c4e3-4f5a-80bc-8da993e36d3e",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "operation": "rtf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        620,
        380
      ],
      "id": "efd63f84-a533-4a41-97c3-8bf63db9a0b4",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "operation": "html",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        620,
        540
      ],
      "id": "9103cbd8-ca82-449e-bc50-5e23c0640ce3",
      "name": "Extract from File2"
    }
  ],
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from File2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "Google Drive Trigger": [
      {
        "json": {
          "kind": "drive#file",
          "fileExtension": "pdf",
          "copyRequiresWriterPermission": false,
          "md5Checksum": "79f5ec12ba7f1771dd4aca23ddcd5540",
          "writersCanShare": true,
          "viewedByMe": true,
          "mimeType": "application/pdf",
          "parents": [
            "15OxSLsLD1RnuxO9sFWny6hwg1c4MbuhF"
          ],
          "thumbnailLink": "https://lh3.googleusercontent.com/drive-storage/AJQWtBOzCnMvSWKW5V1GPYO7Lg2rHWYmrZFJNF3azgwIGGM6_gWX5nlg2BniE1mtEVHZIWpcJ_WyL_1jYdl-wEpVVD6CHZiyxCE71dQli75D1Jiz_KI=s220",
          "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/application/pdf",
          "shared": false,
          "lastModifyingUser": {
            "displayName": "Cong Liu (sixoneone)",
            "kind": "drive#user",
            "me": true,
            "permissionId": "11874686621610881759",
            "emailAddress": "stormliucong@gmail.com",
            "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocJsOstiGK5KchRgYgij4lix4-RtQ4gwHldiGbQzC6SzJD70mffr2Q=s64"
          },
          "owners": [
            {
              "displayName": "Cong Liu (sixoneone)",
              "kind": "drive#user",
              "me": true,
              "permissionId": "11874686621610881759",
              "emailAddress": "stormliucong@gmail.com",
              "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocJsOstiGK5KchRgYgij4lix4-RtQ4gwHldiGbQzC6SzJD70mffr2Q=s64"
            }
          ],
          "headRevisionId": "0BwW3Ozl_c_XAL3pCRFV6ZXpsN2lURVBUdkRmMy83Ty83ck4wPQ",
          "webViewLink": "https://drive.google.com/file/d/1iZ3kPw4P3uASVp72qlBFRY4dFMAu4v6l/view?usp=drivesdk",
          "webContentLink": "https://drive.google.com/uc?id=1iZ3kPw4P3uASVp72qlBFRY4dFMAu4v6l&export=download",
          "size": "1241387",
          "viewersCanCopyContent": true,
          "permissions": [
            {
              "id": "11874686621610881759",
              "displayName": "Cong Liu (sixoneone)",
              "type": "user",
              "kind": "drive#permission",
              "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocJsOstiGK5KchRgYgij4lix4-RtQ4gwHldiGbQzC6SzJD70mffr2Q=s64",
              "emailAddress": "stormliucong@gmail.com",
              "role": "owner",
              "deleted": false,
              "pendingOwner": false
            }
          ],
          "hasThumbnail": true,
          "spaces": [
            "drive"
          ],
          "id": "1iZ3kPw4P3uASVp72qlBFRY4dFMAu4v6l",
          "name": "uk-practice-guidelines-for-variant-classification-v1-2023.pdf",
          "starred": false,
          "trashed": false,
          "explicitlyTrashed": false,
          "createdTime": "2025-02-05T03:44:36.175Z",
          "modifiedTime": "2025-02-05T03:44:08.000Z",
          "modifiedByMeTime": "2025-02-05T03:44:08.000Z",
          "viewedByMeTime": "2025-02-05T03:44:36.175Z",
          "quotaBytesUsed": "1241387",
          "version": "3",
          "originalFilename": "uk-practice-guidelines-for-variant-classification-v1-2023.pdf",
          "ownedByMe": true,
          "fullFileExtension": "pdf",
          "isAppAuthorized": false,
          "capabilities": {
            "canChangeViewersCanCopyContent": true,
            "canEdit": true,
            "canCopy": true,
            "canComment": true,
            "canAddChildren": false,
            "canDelete": true,
            "canDownload": true,
            "canListChildren": false,
            "canRemoveChildren": false,
            "canRename": true,
            "canTrash": true,
            "canReadRevisions": true,
            "canChangeCopyRequiresWriterPermission": true,
            "canMoveItemIntoTeamDrive": true,
            "canUntrash": true,
            "canModifyContent": true,
            "canMoveItemOutOfDrive": true,
            "canAddMyDriveParent": false,
            "canRemoveMyDriveParent": true,
            "canMoveItemWithinDrive": true,
            "canShare": true,
            "canMoveChildrenWithinDrive": false,
            "canModifyContentRestriction": true,
            "canChangeSecurityUpdateEnabled": false,
            "canAcceptOwnership": false,
            "canReadLabels": false,
            "canModifyLabels": false,
            "canModifyEditorContentRestriction": true,
            "canModifyOwnerContentRestriction": true,
            "canRemoveContentRestriction": false
          },
          "thumbnailVersion": "1",
          "modifiedByMe": true,
          "permissionIds": [
            "11874686621610881759"
          ],
          "linkShareMetadata": {
            "securityUpdateEligible": false,
            "securityUpdateEnabled": true
          },
          "sha1Checksum": "43ee1e46e27991128a7bd5c46e6f93ad8bcc0518",
          "sha256Checksum": "27adfd97b87495bd1a95af7f792ca40b06837d148e76146d5cdfa408673780d6"
        }
      }
    ]
  },
  "versionId": "78ebbd1d-c903-425f-b27d-0b8787404788",
  "triggerCount": 0,
  "tags": [
    {
      "createdAt": "2025-03-26T17:52:09.555Z",
      "updatedAt": "2025-03-26T17:53:07.262Z",
      "id": "FXorOXy8mYanYwkx",
      "name": "status: archived"
    },
    {
      "createdAt": "2025-03-26T17:51:45.906Z",
      "updatedAt": "2025-03-26T17:53:45.806Z",
      "id": "POlmHLQiFgAzyfd2",
      "name": "type: secondary"
    }
  ]
}