n8n_local/workflows/Agent_Evaluation_-_Education_Agent.json
{
  "createdAt": "2025-03-25T01:37:45.806Z",
  "updatedAt": "2025-06-19T19:31:55.000Z",
  "id": "lsoQFqsiY96Fmvry",
  "name": "Agent Evaluation - Education Agent",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "01a1b55a-94ec-4175-9eb5-fe2c5b868b26",
      "name": "When clicking \u2018Test workflow\u2019"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1G3rgMo5cWkltny8NF4QhP5qhG--zBcnl1e3NMaa41Vg",
          "mode": "list",
          "cachedResultName": "Education AGent Evaluation Questions",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1G3rgMo5cWkltny8NF4QhP5qhG--zBcnl1e3NMaa41Vg/edit?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        220,
        0
      ],
      "id": "5278a522-11c2-4016-b07f-e2b4bcd95ede",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "zDc8X8wm8MQZzy0g",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        440,
        0
      ],
      "id": "cdf7ad39-0f4d-4947-b8ae-9fec7d22528f",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        640,
        0
      ],
      "id": "d8044a33-a43c-4727-9520-39a65e080084",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://congliu.app.n8n.cloud/webhook/bdfcc15d-a70c-4fb4-9df6-5beaf18fa2d6",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $json.Questions }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        20
      ],
      "id": "cbb60fdb-5c9a-4ec9-b22c-1af05cf0cecd",
      "name": "HTTP Request to Education Agent Webhook"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1G3rgMo5cWkltny8NF4QhP5qhG--zBcnl1e3NMaa41Vg",
          "mode": "list",
          "cachedResultName": "Education AGent Evaluation Questions",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1G3rgMo5cWkltny8NF4QhP5qhG--zBcnl1e3NMaa41Vg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1G3rgMo5cWkltny8NF4QhP5qhG--zBcnl1e3NMaa41Vg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Questions": "={{ $('Loop Over Items').item.json.Questions }}",
            "Model Output": "={{ $json.output }}"
          },
          "matchingColumns": [
            "Questions"
          ],
          "schema": [
            {
              "id": "Questions",
              "displayName": "Questions",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Model Output",
              "displayName": "Model Output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1080,
        20
      ],
      "id": "eac2d9f2-51f9-438f-94ff-eca368800b98",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Phbe7DRI4BKje07O",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "When clicking \u2018Test workflow\u2019": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request to Education Agent Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request to Education Agent Webhook": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "2386d71a-5535-4cb2-97a6-eb9e4764334f",
  "triggerCount": 0,
  "tags": [
    {
      "createdAt": "2025-03-26T17:51:52.394Z",
      "updatedAt": "2025-03-26T17:53:37.550Z",
      "id": "f1eRCMwsFVB12Daf",
      "name": "type: eval"
    },
    {
      "createdAt": "2025-02-07T19:25:06.365Z",
      "updatedAt": "2025-03-26T17:53:28.478Z",
      "id": "swsybkCsjhDW90oq",
      "name": "status: dev"
    }
  ]
}